.BlogSummary {
  margin-bottom: 25px;
  padding-bottom: 25px;
}

.BlogSummary .text {
  position: relative;
  height: 70px;
  overflow: hidden;
  line-height: 1.8;
  font-size: 0.9rem;
}

.BlogSummary .read-more {
  margin-top: 35px;
}
