.Deck .deck-info-wrapper {
  display: flex;
  align-items: center;
}

.Deck .deck-info-wrapper .deck-name {
  font-size: 2.5em;
  margin: 0;
  flex: 1;
}

.Deck .deck-info-wrapper .back-arrow {
  font-size: 2.1em;
  margin-right: 5px;
  cursor: pointer;
}

.Deck .set-row {
  margin-top: 21px;
  display: flex;
  align-items: center;
}

.Deck .set-row span {
  font-size: 1.1em;
}

.Deck #set-menu {
  margin-left: 8px;
  height: 25px;
  background-color: var(--light-color);
  outline: 0;
  cursor: pointer;
  border: solid 2px var(--dark-color);
  width: 50px;
}

.Deck .return-to-top-row {
  display: flex;
  justify-content: center;
  margin: 25px 0;
}
