:root {
  --contrast-color: #DF1212;
  --light-color: #FDF9F0;
  --dark-color: #212121;
  --input-border-radius: 5px;
  --star-size: 15px;
}

html, body {
  min-height: 100%;
}

html {
  background-color: var(--light-color);
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  color: #212121;
	text-decoration: none;
  transition: color 0.2s;
}

a:hover,
a.active {
  color: var(--contrast-color);
}

button {
  border: 0;
  background-color: rgba(223, 18, 18, 0.8);
  color: var(--light-color);
  padding: 12px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  outline: 0;
}

button:hover {
  background-color: var(--contrast-color);
}

button[disabled] {
  opacity: 0.6;
}

button[disabled]:hover {
  background-color: rgba(223, 18, 18, 0.8);
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  border: solid 1px var(--dark-color);
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  padding: 5px 8px;
  height: 40px;
  width: 100%;
  font-size: 1.5em;
  max-width: 350px;
}

textarea {
  line-height: 1.5;
  font-size: 1em;
  padding: 10px;
}

.link-button {
  display: inline-block;
  font-size: 1.2em;
  padding-bottom: 8px;
  color: var(--dark-color);
  border-bottom: 1px dotted var(--contrast-color);  
}

.link-button:hover {
  color: var(--contrast-color);
}

.inner-wrapper {
  padding: 0 5%;
  flex: 1;
}

.star {
  position: relative;
  display: inline-block;
  height: var(--star-size);
  width: var(--star-size);
  background-color: var(--dark-color);
  transform: rotate(45deg);
  margin-right: 8px;
}

.star::before {
  display: block;
  content: '';
  position: absolute;
  background-color: var(--dark-color);
  height: var(--star-size);
  width: var(--star-size);
  transform: rotate(-45deg);
}

.star.selected,
.star.selected::before {
  background-color: gold;
}

.form-row {
  margin-bottom: 18px;
}

.error-text {
  color: var(--contrast-color);
}

.explanatory-text {
  line-height: 1.5;
  font-style: italic;
}

.no-items {
  font-size: 18px;
}

.underline {
  border-bottom: 1px dotted var(--contrast-color);
}

.information {
  font-weight: bold;
  cursor: pointer;
  font-size: 1.2em;
  background-color: transparent;
  color: var(--dark-color);
  outline: none;
  padding: 0;
  z-index: 99;
  margin-top: 2px;
}

.information:hover {
  background-color: transparent;
}

.tab-row {
  display: flex;
}

.tab-row .tab {
  flex: 1;
  border: solid 1px var(--dark-color);
  border-right: 0;
  padding: 15px;
  cursor: pointer;
  border-radius: 0;
  outline: 0;
}

.tab-row .tab.selected {
  font-weight: bold;
}

.tab-row .tab:last-child {
  border-right: solid 1px var(--dark-color);
}

.tab-row .content {
  
}

table {

}

table thead {

}

table tbody {

}

table tr {

}

table tr td {
  
}

@media screen and (max-width: 768px) {
  .inner-wrapper {
    padding: 0 3%;
  }

  .information {
    font-size: 1.1em;
  }
}
