.notice {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notice .title,
.notice .jumbo-text,
.notice .jumbo-subtext {
  margin-bottom: 25px;
}

.notice .title {
  font-weight: bold;
  font-size: 3em;
}

.notice .jumbo-text {
  font-size: 4em;
}

.notice .jumbo-subtext {
  font-size: 2em;
}

.notice .text {
  width: 60%;
  line-height: 1.5;
}

.notice .link-button {
  margin-top: 35px;
}

@media screen and (max-width: 768px) {
  .notice .title,
  .notice .jumbo-text,
  .notice .jumbo-subtext {
    margin-bottom: 12px;
  }

  .notice .title {
    font-size: 1.4em;
  }

  .notice .jumbo-text {
    font-size: 3em;
  }

  .notice .jumbo-subtext {
    font-size: 1.2em;
  }
}
