.Feedback {
  position: fixed;
  width: 98%;
  height: 0;
  transition: height 0.15s;
  overflow: hidden;
  display: flex;
  margin: auto;
  left: 0;
  right: 0;
  box-sizing: border-box;
  background-color: var(--dark-color);
  z-index: 9999;
  color: var(--light-color);
  flex-direction: column;
  box-shadow: 1px 1px 10px var(--dark-color);
}

.Feedback.show {
  height: 100%;
  transition: height 0.25s;
}

.Feedback p {
  font-size: 1.2em;
}

.Feedback textarea,
.Feedback .error-text,
.Feedback .confirm-text {
  margin-bottom: 25px;
}

.Feedback button {
  outline: none;
}

.Feedback button:first-child {
  margin-right: 5px;
}
