.Blog header {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.Blog aside {
  font-size: 0.8rem;
  font-style: italic;
  margin-bottom: 25px;
}

.Blog main {
  font-size: 0.9rem;
  line-height: 1.8;
}

.Blog .more-blogs {
  padding-top: 35px;
}
