.DeckSet .set-divider {
  display: flex;
  align-items: center;
  margin: 50px auto 25px;
  border-bottom: solid 1px rgba(33, 33, 33, 0.1);
  height: 50px;
}

.DeckSet .set-divider:first-of-type {
  margin: 25px auto 25px;
}

.DeckSet .set-divider a {
  font-size: 1.1em;
  font-weight: bold;
  padding-left: 5px;
  cursor: pointer;
}

.DeckSet .set-divider a div {
  font-weight: normal;
  font-size: 0.6em;
  font-style: italic;
  vertical-align: middle;
  margin-top: 3px;
}

.DeckSet .card {
  display: inline-flex;
  cursor: pointer;
  font-size: 2.5em;
  width: calc(100% / 10);
  height: 100px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.DeckSet .card .inner {
  background-color: #ffffff;
  padding: 12px 8px;
  border: solid 2px var(--dark-color);
  border-radius: 10px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .DeckSet .card {
    width: calc(100% / 5);
  }

  .DeckSet .kanji {
    font-size: 2em;
    width: calc(100% / 4);
    height: 80px;
  }
}
