.ModalButtons .arrow {
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  height: 130px;
  width: 50px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  padding: 0;
}

.ModalButtons button:focus {
  outline: none;
}

.ModalButtons .arrow.left:before,
.ModalButtons .arrow.right:before {
  display: block;
  content: '';
  width: 25px;
  height: 25px;
  border-left: solid 3px var(--light-color);
  border-bottom: solid 3px var(--light-color);
}

.ModalButtons .arrow.left.disabled:before,
.ModalButtons .arrow.right.disabled:before {
  border-left: solid 3px rgba(253, 249, 240, 0.5);
  border-bottom: solid 3px rgba(253, 249, 240, 0.5);
}

.ModalButtons .arrow.left:before {
  transform: rotate(45deg);
  margin-left: 10px;
}

.ModalButtons .arrow.right:before {
  transform: rotate(-135deg);
  margin-right: 10px;
}

.ModalButtons .arrow.left {
  left: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.ModalButtons .arrow.right {
  right: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.ModalButtons .close {
  position: fixed;
  top: 10px;
  left: 25px;
  color: var(--light-color);
  font-size: 1.5em;
  border-bottom: dotted 1px var(--contrast-color);
  background-color: var(--dark-color);
  border-radius: 0;
}

.ModalButtons .close:hover {
  color: var(--contrast-color);
}

@media screen and (max-width: 768px) {
  .ModalButtons {
    position: fixed;
    width: 100%;
    height: 15%;
    bottom: 0;
    background-color: #000;
    touch-action: manipulation;
  }
  
  .ModalButtons .arrow,
  .ModalButtons .close {
    position: absolute;
    touch-action: manipulation;
  }

  .ModalButtons .arrows {
    height: 100%;
  }

  .ModalButtons .arrow {
    margin: 0;
    height: 100%;
    width: 30%;
  }

  .ModalButtons .arrow.left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    right: 30%;
    left: initial;
  }

  .ModalButtons .arrow.right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .ModalButtons .close {
    display: flex;
    height: 100%;
    padding: 0;
    bottom: 0;
    left: 0;
    top: initial;
    width: 40%;
    border-bottom: 0;
    align-items: center;
    justify-content: center;
    background-color: #000;
  }

  .ModalButtons .close.full-width {
    width: 100%;
    align-self: center;
  }
}
