.Header {
	height: 100px;
	border-bottom: solid 3px var(--dark-color);
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

.Header .inner-wrapper {
  display: flex;
  width: 100%;
}

.Header .inner-wrapper .logo {
	width: 200px;
}

.Header .inner-wrapper .right {
  justify-content: flex-end;
}

.Header .inner-wrapper .right ul {
  display: flex;
  align-items: center;
  padding: 0;
  margin-right: 25px;
}

.Header .inner-wrapper .right ul li {
  display: inline;
}

.Header .inner-wrapper .right ul li:not(:first-child)::before {
  content: '\2022';
  padding: 0 5px;
}

.Header .inner-wrapper .left,
.Header .inner-wrapper .right {
	flex: 1;
	display: flex;
	align-items: center;
}

.Header .inner-wrapper .menu-link {
  font-size: 1.3rem;
  cursor: pointer;
}

.Header .inner-wrapper .menu-link + .menu-link {
  margin-left: 8px;
}

.Header .inner-wrapper button.menu-link {
  background-color: transparent;
  color: var(--dark-color);
  padding: 0;
  user-select: none;
  outline: none;
  margin-bottom: 1px;
}

@media screen and (max-width: 768px) {
  .Header {
    margin-bottom: 30px;
  }

  .Header .inner-wrapper {
    flex-direction: column;
  }

  .Header .inner-wrapper .logo {
    width: 180px;
    padding-top: 15px;
  }

  .Header .inner-wrapper .left,
  .Header .inner-wrapper .right {
    justify-content: center;
  }

  .Header .inner-wrapper .menu-link {
    font-size: 1rem;
  }

  .Header .inner-wrapper .right {
    height: 30px;
  }

  .Header .inner-wrapper .right ul {
    margin: auto;
  }
}
