.KanjiCard {
  position: relative;
  color: var(--dark-color);
  height: 100%;
}

.KanjiCard .row {
  margin-bottom: 15px;
}

.KanjiCard.front {
  display: flex;
  align-items: center;
  justify-content: center;
}

.KanjiCard.back {
  font-size: 2em;
  line-height: 1.5;
  animation-duration: 1s;
}

.KanjiCard.back .meanings {
  font-size: 2.5rem;
  font-weight: bold;
}

.KanjiCard.back .onyomi,
.KanjiCard.back .kunyomi {
  word-spacing: 0.2em;
}

.KanjiCard.back .onyomi .label,
.KanjiCard.back .kunyomi .label {
  font-style: italic;
  font-size: 0.8em;
}

.KanjiCard .writing {
  font-size: 20em;
  line-height: 1;
}

@media screen and (max-width: 768px) {
  .KanjiCard .writing {
    font-size: 15em;
  }

  .KanjiCard.back .meanings,
  .KanjiCard.back .onyomi,
  .KanjiCard.back .kunyomi {
    font-size: 1.25rem;
  }

  .KanjiCard.back .meanings {
    font-size: 1.65rem;
  }
}
