.InfoDialog {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(33, 33, 33, 0.4);
  z-index: 99;
  line-height: 1.5;
  color: var(--light-color);
  font-size: 1.1em;
  letter-spacing: 1px;
}

.InfoDialog h1 {
  margin: 0;
}

.InfoDialog .content {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-color);
  color: var(--light-color);
  height: 80%;
  width: 100%;
  max-width: 775px;
  border-radius: 10px;
  overflow: auto;
}

.InfoDialog .content-wrapper {
  flex: 1;
  overflow: auto;
  padding: 25px;
}

.InfoDialog img {
  width: 100%;
}

.InfoDialog .button-row {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.InfoDialog .return-text {
  padding: 0 20px;
  text-align: center;
}

.InfoDialog .contact {
  color: var(--light-color);
}

.InfoDialog img {
  width: 250px;
  margin: auto;
  display: block;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .InfoDialog {
    line-height: 1.1;
    letter-spacing: 0;
  }

  .InfoDialog .content {
    height: 100%;
    border-radius: 0;
  }
  
  .InfoDialog .return-text {
    font-size: 0.8em;
  }
}

