.Loading .spinner {
  margin-right: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
  height: 20px;
  width: 20px;
  border: solid 2px var(--contrast-color);
  animation: progress 4s linear infinite;
  border-radius: 25px;
  position: relative;
  padding: 1px;
}

.Loading .message {
  display: inline-block;
}

@keyframes progress {
  100% {
    transform: rotate(360deg);
  }
}
