.footer-template {
	height: 150px;
  background-color: rgba(223, 18, 18, 0.8);
  display: flex;
  margin-top: 50px;
  width: 100%;
  display: flex;
  align-items: center;
}

.footer-template .left,
.footer-template .center,
.footer-template .right {
  flex: 1;
  display: flex;
  justify-content: center;
}

.footer-template .social-media-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-top: -10px;
}

.footer-template .social-media-link .social-media-icon {
  width: 100%;
  height: 100%;
}

.footer-template .social-media-link .social-media-icon:hover {
  fill: var(--light-color);
}

.footer-template .social-media-link + .social-media-link {
  margin-left: 18px;
}

.footer-template .contact {
  cursor: pointer;
}

.footer-template .contact:hover {
  color: var(--light-color);
}

@media screen and (max-width: 768px) {
  .footer-template {
    flex-direction: column;
    height: 200px;
    padding-top: 0;
  }

  .footer-template .left,
  .footer-template .center,
  .footer-template .right {
    align-items: center;
  }

  .footer-template .social-media-link {
    margin-top: 0;
  }
}
