.Login {
  width: 350px;
  margin: auto;
}

.Login .create {
  margin-top: 30px;
  display: inline-block;
  border-bottom: 1px dotted var(--contrast-color);
}

@media screen and (max-width: 768px) {
  .Login .create {
    margin-top: 15px;
  }
}
