.Card {
  display: flex;
  flex-direction: column;
  background-color: var(--light-color);
  height: 600px;
  width: 460px;
  cursor: pointer;
  border-radius: 10px;
  padding: 0 25px;
  box-sizing: border-box;
}

.Card.front {
  animation-duration: 0.4s;
  animation-name: displaycard;
}

.Card.back {
  animation-duration: 0.2s; 
  animation-name: flip;
}

/* 
  This will apply to the inner card component, e.g., KanjiCard,
  whereas .Card.back applies to the outer Card component
*/
.Card .back {
  animation-duration: 1s;
  animation-name: showback;
}

.Card header {
  display: flex;
  justify-content: flex-start;
  font-style: italic;
  height: 50px;
}

.Card header .row {
  display: flex;
  align-items: center;
  height: 100%;
}

.Card main {
  flex: 1;
}

.Card footer {
  display: flex;
  align-items: center;
  font-style: italic;
  justify-content: flex-end;
  height: 50px;
}

.Card footer::after,
.Card footer::before {
  opacity: 0;
  animation: fadeOut 15s;
}

.Card footer::after {
  content: 'click to flip';
}

.Card button {
  background: transparent;
  color: var(--dark-color);
  padding-left: 0;
}

.Card button:focus {
  outline: 0;
}

.Card .login {
  padding: 12px 0;
}

.Card .link-button {
  font-size: 1em;
  padding-bottom: 2px;
}

.Card .Loading {
  font-style: normal;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  95% { opacity: 0.9; }
  96% { opacity: 0.7; }
  97% { opacity: 0.5; }
  98% { opacity: 0.3; }
  99% { opacity: 0.1; }
  100% { opacity: 0; }
}

@keyframes displaycard {
  from {
    box-shadow: none;
  }

  50% {
    transform: scale(1.010);
    box-shadow: 0px 0px 10px var(--light-color);
  }
}

@keyframes flip {
  from {
    width: 0;
  }

  to {
    width: 460px;
  }
}

@keyframes showback {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .Card {
    align-self: flex-start;
    border-radius: 0;
    width: 100%;
    height: 85%;
  }

  .Card.front,
  .Card.back,
  .Card .back {
    animation: none;
  }

  .card-swipe-component {
    width: 100%;
    height: 100%;
  }

  .Card:not(.single) footer::before {
    content: 'swipe between cards';
    flex: 1;
  }

  .Card footer::after {
    content: 'tap to flip';
  }
}
