:root {
  --favorites-deck-star-size: 40px;
  --favorites-deck-star-size-mobile: 30px;
}

.Dashboard .donation-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  padding: 25px;
  margin: 0 auto 50px;
  border-top: 1px dotted rgba(223, 18, 18, 0.1);
  border-bottom: 1px dotted rgba(223, 18, 18, 0.1);
  border-radius: 25px;
}

.Dashboard .donation-banner p {
  font-style: italic;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
}

.Dashboard .donation-banner p::before {
  content: 'Kanji Flash was created by and continues to be maintained by volunteers. Please consider donating any amount to keep Kanji Flash running for everyone.';
}

.Dashboard .deck-row {
  margin-bottom: 50px;
}

.Dashboard .deck-row .no-decks {
  margin-top: 25px;
}

.Dashboard .deck-row .no-decks .link-button {
  font-size: 1em;
  padding-bottom: 2px;
}

.Dashboard .deck-row header {
  border-bottom: solid 1px rgba(33, 33, 33, 0.1);
}

.Dashboard .deck-row .decks .deck-wrapper {
  display: inline-flex;
  margin-right: 25px;
  margin-top: 25px;
  justify-content: center;
}

.Dashboard .deck-row .decks .deck-wrapper .name {
  text-align: center;
  margin-top: 8px;
  font-size: 1.3em;
}

.Dashboard .deck-row .decks .deck {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  height: 180px;
  width: 130px;
  background-color: #ffffff;
  border: solid 2px var(--dark-color);
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 1px 1px 5px var(--dark-color);
}

.Dashboard .deck-row .decks .deck .star {
  margin: 0;
  height: var(--favorites-deck-star-size);
  width: var(--favorites-deck-star-size);
}

.Dashboard .deck-row .decks .deck .star::before {
  height: var(--favorites-deck-star-size);
  width: var(--favorites-deck-star-size);
}

.Dashboard .special-message {
  text-align: center;
  padding: 15px 0;
}

@media screen and (max-width: 768px) {
  .Dashboard .donation-banner {
    width: 90%;
    margin: 0 auto 30px;
    border-radius: 0;
  }

  .Dashboard .donation-banner p::before {
    content: 'Please consider a donation to keep Kanji Flash running.';
  }

  .Dashboard .deck-row .decks .deck-wrapper {
    margin-right: 10px;
  }

  .Dashboard .deck-row .decks .deck-wrapper .name {
    font-size: 1.1em;
  }

  .Dashboard .deck-row .decks .deck {
    height: 130px;
    width: 94px;
  }

  .Dashboard .deck-row .decks .deck .star {
    height: var(--favorites-deck-star-size-mobile);
    width: var(--favorites-deck-star-size-mobile);
  }
  
  .Dashboard .deck-row .decks .deck .star::before {
    height: var(--favorites-deck-star-size-mobile);
    width: var(--favorites-deck-star-size-mobile);
  }
}
